Package: dttsp
Version: 1~svn675-0gz1
Architecture: i386
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Installed-Size: 144
Depends: libfftw3-3, mime-support, liblo7, libc6-i686, gawk, libjack-jackd2-0, jackd2
Recommends: sdr-shell (>= 4.0)
Suggests: usbsoftrock
Section: hamradio
Priority: extra
Homepage: https://www.cgran.org/wiki/DttSP
Description: Core of a Software Defined Radio (SDR) transceiver
 DttSP implements the basic modulation, demodulation, signal conditioning,
 and synchronization processes required to operate a high performance
 transceiver using DSP as the detection and synthesis stages.
 sdr-core a standalone program designed to allow the software construction of
 transceivers for AM, FM, SSB, CW, ...
