#!/usr/bin/make -f


#ifndef _cdbs_class_autotools_generate
_cdbs_class_autotools_generate = 1
DEB_ACLOCAL_PARAMS = --force
DEB_AUTOHEADER_PARAMS = --force
DEB_AUTOMAKE_PARAMS = --add-missing --copy --force --include-deps --foreign
DEB_LIBTOOLIZE_PARAMS = --force --copy
DEB_AUTOCONF_PARAMS = --force

define autotools_generate_deps
CDBS_BUILD_DEPENDS := $$(CDBS_BUILD_DEPENDS), $(1)
endef
#endif

REV=$(shell dpkg-parsechangelog | sed -rne 's,^Version: .*[+~]svn([0-9]+).*,\1,p')
VER=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')

get-orig-source:
	rm -rf dttsp-$(VER).orig
	svn -q export -r $(REV) https://www.cgran.org/cgran/projects/dttsp/trunk/sdr-core/base dttsp-$(VER).orig
	find dttsp-$(VER).orig -type l -exec rm {} \;
	GZIP=--best tar -chz --owner root --group root --mode a+rX \
		-f dttsp_$(VER).orig.tar.gz \
		dttsp-$(VER).orig
	rm -r dttsp-$(VER).orig

%:
	#dh --before autofoo
	#dh --after autofoo
	dh $@ --with autoreconf -Dsrc
